


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #d95550;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.itemTarea{
  padding: 1em;
  margin-bottom: 1em;
  background: #fff;
  border-radius: 1em;
}

h1{
  text-align: center;
  color: #fff;
}

.formCaja{
  padding: 3em 1em;
    background: #fff;
    border-radius: 1em;
}

.container-fluid{
  padding: 1em;
}

.addTarea {
  width: 100%;
    height: 3em;
    background: rgba(0,0,0,0.1);
    border: #fff;
    color: #f5f5f5;
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 1em;
}


.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-right: 5px;
}

.nav-link:hover {
  color: #fff;
}